<div class="panel panel-primary">
  <div class="panel-heading">
    <h3>{{ title }}</h3>
  </div>

  <div class="panel-body">
    <form [formGroup]="angForm" novalidate>
        <div class="form-group">
            <input type="text" class="form-control" formControlName="codeflight" #codeflight [(ngModel)] = "flight.codeflight"/>
          </div>
          <div *ngIf="angForm.controls['codeflight'].invalid && (angForm.controls['codeflight'].dirty || angForm.controls['codeflight'].touched)" class="alert alert-danger">
            <div *ngIf="angForm.controls['codeflight'].errors.required">
              היי! למה רוקנת אותי?
            </div>
          </div>
      <div class="form-group">
              <input type="text" class="form-control" formControlName="target" #target [(ngModel)] = "flight.target"/>
            </div>
            <div *ngIf="angForm.controls['target'].invalid && (angForm.controls['target'].dirty || angForm.controls['target'].touched)" class="alert alert-danger">
              <div *ngIf="angForm.controls['target'].errors.required">
                היי! למה רוקנת אותי?
              </div>
            </div>
      <div class="form-group">
        <input type="text" class="form-control" formControlName="departure" #departure [(ngModel)] = "flight.departure"/>
      </div>
      <div *ngIf="angForm.controls['departure'].invalid && (angForm.controls['departure'].dirty || angForm.controls['departure'].touched)" class="alert alert-danger">
        <div *ngIf="angForm.controls['departure'].errors.required">
          היי! למה רוקנת אותי?
        </div>
      </div>
      <div class="form-group">
        <input type="text" class="form-control" formControlName="back" #back [(ngModel)] = "flight.back"/>
      </div>
      <div *ngIf="angForm.controls['back'].invalid && (angForm.controls['back'].dirty || angForm.controls['back'].touched)" class="alert alert-danger">
        <div *ngIf="angForm.controls['back'].errors.required">
          היי! למה רוקנת אותי?
        </div>
      </div>
      <div class="form-group">
        <input type="text" class="form-control" formControlName="status" #status [(ngModel)] = "flight.status"/>
      </div>
      <div *ngIf="angForm.controls['status'].invalid && (angForm.controls['status'].dirty || angForm.controls['status'].touched)" class="alert alert-danger">
        <div *ngIf="angForm.controls['status'].errors.required">
          היי! למה רוקנת אותי?
        </div>
      </div>
      <div class="form-group">
        <input type="text" class="form-control" formControlName="price" #price [(ngModel)] = "flight.price" />
      </div>
      <div *ngIf="angForm.controls['price'].invalid && (angForm.controls['price'].dirty || angForm.controls['price'].touched)" class="alert alert-danger">
        <div *ngIf="angForm.controls['price'].errors.required">
          היי!  למה רוקנת אותי?
        </div>
      </div>
        <div class="form-group">
          <button (click)="updateFlight(codeflight.value, target.value, departure.value, back.value, status.value, price.value)" [disabled]="angForm.pristine || angForm.invalid" class="btn btn-primary">ערוך טיסה</button>
        </div>
    </form>
  </div>
</div>