<div class="form-group input-group">
    <div class="input-group-append">
            <button class="btn btn-secondary" type="button"><i class="fa fa-search" dir="rtl"></i></button>
        </div>
<input type="text" placeholder="חפש יעד" (keyup)="queryChange(r)" #r/></div>
<br><br>
<table class="table table-bordered">
  <thead>
  <tr>
      <th>קוד טיסה</th>
      <th>יעד</th>
      <th>תאריך יציאה</th>
      <th>תאריך חזרה</th>
      <th>סטטוס</th>
      <th>מחיר</th>
      <th colspan="2">אפשרויות</th>
  </tr>
  </thead>

  <tbody>
      <tr *ngFor="let flight of flightSchedule | fightTarget:query">
          <td>{{ flight.codeflight  }}</td>
          <td>{{ flight.target }}</td>
          <td>{{ flight.departure }}</td>
          <td>{{ flight.back }}</td>
          <td>{{ flight.status }}</td>
          <td>{{ flight.price }}</td>
          <td><a [routerLink]="['/flightdetails', flight._id]" class="btn btn-primary">לפרטים והרשמה</a></td>
      </tr>
  </tbody>
</table>