#a{color:rebeccapurple }
#b{color:yellow }
#c{color:greenyellow }
#d{color:burlywood }
#e{color:blue }
#f{color:olivedrab }
#g{color:hotpink }
#h{color:gold }
#i{color:darkcyan }




.view {
    background: url("https://mdbootstrap.com/img/Photos/Others/img (50).jpg")no-repeat center center;
    background-size: cover;
    height: 100vh;
}