<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <a class="navbar-brand" href="#">בית</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="flightstable" routerLinkActive="active">
              לטבלת הטיסות
            </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="log-in" routerLinkActive="active">
        כניסה לאיזור האישי
            </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="enrollment" routerLinkActive="active">
           עוד
            </a>
        </li>   
      </ul>
    </div>  
  </nav>
  <br><br><br>

 
  
  <div class="container">
    <router-outlet></router-outlet>
  </div>

























  



















